

@import './_common.scss';

footer {
    height: 1.5rem;
    width: 100%;
    background: #fff;
    text-align: center;
    color: #bbb;
    ul {
        padding: 0.48rem 0 0.1rem 0;
        display: inline-block;
        overflow: hidden;
        li {
            width: 0.7rem;
            float: left;
            line-height: 0.2rem;
            border-right: 1px solid #bbb;
        }
        li:last-child {
            border: none;
        }
    }
    .copyright-box {
        font-size: 0.12rem;
    }
}
