li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

//banner
.swiper-slide{
    height: 2.81rem;
}
.banner-info{
    font-size: .24rem;
    line-height: .3rem;
    color: #fff;
    position: absolute;
    padding: 0 .2rem;
    margin: 0;
    bottom: .6rem;
}
.swiper-pagination-bullet{
    width: .04rem;
    height: .04rem;
    background: rgba(248,248,248,0.5);
}
.swiper-pagination-bullet-active{
    background: #fff;
}


//çº¿
.placeholder-line{
    width: 100%;
    height: .05rem;
    background: #f4f4f4;
}

//articlewrap

.related-article{
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.rec-article-ul li{
    padding-top: 0;
    margin-left: 0;
    border-top: none;
    border-bottom: .05rem solid #f5f5f5;
    font-size: .14rem;
    line-height: .21rem;
    padding: .04rem,.04rem,.04rem,.0;
}
.article-hp-info{
    display: block;
    padding-top: .2rem;
    padding-left: .1rem;
    
}
.rec-article-pic{
    display: block;
    color:#303030;
    width: 1.45rem;
    height: 1,1rem;
    overflow: hidden;
}
.rec-article-pic img{
    width: 100%;
    border:3px solid #fff;
}
.fr{
    float: right;
}
.rec-article-info{
    padding-top: .09rem;
    width: 100%;
    padding-right: 1.6rem;
}
.rec-article-info a{
    color:#303030;
    display: block;
}
.rec-article-info h2{
    height: .8rem
}
.rec-article-info h2 span{
        font-size: .16rem;
    line-height: .21rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.rec-article-time{
    color: silver;
    font-size: .1rem;
    line-height: .15rem;
}
.fl{
    float:left;
}
.rec-author{
    margin-right: .1rem;
}
