
html,body{
    margin: 0;padding: 0;
}

.headCommon{
    overflow: hidden;
   .head{
        height:0.56rem;
        
        box-shadow: 0 2px 4px rgba(48,48,48,.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        .head__left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .head__left__logo{
                margin-right: 15px;
                 img{width: 36px;height: 36px;display: block;}
            }
            .head__left__text{
                    color: #606060;
            }
           
        }
        .head__right{
            width: 84px;
            height: 30px;
            border-radius: 20px;
            border: 1px solid red;
            text-align:center;
            line-height: 28px;
            color: red;
        }
    }
    .top-bar{
        margin-top: 3px;
        width:100%;
        height: 0.45rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: 1px solid #f0f0f0;
        .top-bar__nav{
            font-size: 0.3rem!important;
            text-align: center;
            background: white;
            border: none;
            width: 0.3rem;
            height: 0.3rem;
            
        }
        .top-bar__title{
            width: 0.4rem;
            height: 0.3rem;
            img{width: 100%;height: 100%;}
        }
        .top-bar__search{
            font-size: 0.2rem;
            font-weight: bold;
        }
    } 
    
}
