.menu{
    width: 100%;
    
    .menu__information{
        font-size: 16px;
        width: 100%;
        padding: 0.225rem 0.225rem 0.1rem 0.225rem;
    }
    .menu__info-ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0.225rem 0.15rem 0.225rem;
        border-bottom: 1px solid #f0f0f0;
        li{
            height: 0.3rem;
            width: 33.3%;
            line-height: 0.3rem;
        }
        li:nth-child(3n+1){
            text-align: left;
        }
        li:nth-child(3n-1){
            text-align: center;
        }
        li:nth-child(3n){
            text-align: right;
        }
    }
    .menu__nav-ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.1rem 0.225rem;
        li{
            font-size: 0.16rem;
            height: 0.4rem;
            line-height: 0.4rem;
           a{
               color: black;
           }
            
        }
    }
    .menu__join{
        width: 100%;
        height: 0.68rem;
        display: flex;
        justify-content: space-between;
        padding: 0 0.225rem;
        border-bottom: 5px solid #f4f4f4;
        border-top: 5px solid #f4f4f4;
        i{display: inline-block;};
        .menu__join__left{
            display: flex;
            height: 100%;
            align-items: center;
            font-size: 0.16rem;
            color: #8d8d8d;
            .icon-png1{
                margin-right: 10px;
               width: 0.86rem;
               height: 0.28rem;
               background: url(../../build/imgs/icon2.png) no-repeat;
               background-position: 0 -74px;
               background-size: 1.5rem 1.5rem;
            };
        }
        .menu__join__right{
            display: flex;
            height: 100%;
            align-items: center;
            .icon-png2{
                width: 0.14rem;
                height: 0.14rem;
                background: url(../../build/imgs/icon2.png) no-repeat;
                background-position:4px -3px;
                background-size: 1.5rem 1.5rem;
                
            }
        }
        
     }
     .menu__login{
         width: 100%;
         height: 0.65rem;
         text-align: center;
         a{
             display: inline-block;
             width: 1.5rem;
             height: 0.4rem;
             border: 1px solid orangered;
             text-align: center;
             line-height: 0.4rem;
             border-radius: 5px;
             margin-top: 0.25rem;
         }
         .loginBtn{
             color: orangered;
             background: white;
             margin-right: 0.2rem;
         }
         .regisBtn{
             color: white;
             background:orangered;
         }
     }
}
