.login{
    .register__mobileNum{
        width: 2.2rem;
        margin-left: 0.76rem;
        position: relative;
        text-align: center;
        a{
            position: absolute;left: -0.77rem;display: block;
            width: 0.64rem;height: 0.35rem;border-bottom: 1px solid #ddd;
            top: 0.15rem;line-height: 0.35rem;
            font-size: 0.15rem;
            font-family: Helvetica;
            i{
                display: inline-block;width: 0.2rem;
                height: 0.2rem;
                background: url(/imgs/icon_login.png) no-repeat;
                background-size: 2rem 2rem;
                background-position: 0 -.53rem;
                vertical-align:text-bottom;
            }
        }
    }
    .register__code{
        position: relative;
        .getCode{
            position: absolute;
            right: 0;
            bottom: 0.06rem;padding-left: 0.1rem;
                border-left: 1px solid #f0f0f0;
        }
    }
    .login__registerDiv{
        margin-top: 0.3rem;
    }
        
}
